<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" fill="clear">
        <img src="assets/main.png" alt="EzChef Logo" class="logo-button" />
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="heading">Discover Real Recipes 👨‍🍳</h2>

  <div class="category-toolbar">
    <ion-button
      *ngFor="let cat of categories"
      size="small"
      shape="round"
      fill="{{ selectedCategory === cat ? 'solid' : 'outline' }}"
      (click)="selectCategory(cat)">
      {{ cat }}
    </ion-button>

    <ion-button
      size="small"
      shape="round"
      fill="clear"
      color="danger"
      (click)="selectCategory('')">
      Clear
    </ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let meal of meals">
        <ion-card (click)="openRecipeModal(meal.idMeal)">
          <img [src]="meal.strMealThumb" />
          <ion-card-header>
            <div class="card-title-row">
              <ion-card-title>{{ meal.strMeal }}</ion-card-title>
              <ion-button
                class="save-button"
                fill="clear"
                size="small"
                (click)="toggleSave(meal); $event.stopPropagation()">
                {{ isSaved(meal.idMeal) ? '⭐' : '➕' }}
              </ion-button>
            </div>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Category:</strong> {{ meal.strCategory || selectedCategory }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
